@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    );
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}
/* Our mixin positions a copy of our text directly on our existing text, while also setting content to the appropriate text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 3.2em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
/* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(82px, 9999px, 49px, 0);
    transform: skew(0.19deg);
  }
  5% {
    clip: rect(53px, 9999px, 50px, 0);
    transform: skew(0.52deg);
  }
  10% {
    clip: rect(69px, 9999px, 5px, 0);
    transform: skew(0.63deg);
  }
  15% {
    clip: rect(11px, 9999px, 28px, 0);
    transform: skew(0.11deg);
  }
  20% {
    clip: rect(33px, 9999px, 74px, 0);
    transform: skew(0.08deg);
  }
  25% {
    clip: rect(87px, 9999px, 10px, 0);
    transform: skew(0.72deg);
  }
  30% {
    clip: rect(100px, 9999px, 98px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(71px, 9999px, 83px, 0);
    transform: skew(0.93deg);
  }
  40% {
    clip: rect(90px, 9999px, 60px, 0);
    transform: skew(0.86deg);
  }
  45% {
    clip: rect(31px, 9999px, 80px, 0);
    transform: skew(0.31deg);
  }
  50% {
    clip: rect(11px, 9999px, 87px, 0);
    transform: skew(0.35deg);
  }
  55% {
    clip: rect(25px, 9999px, 40px, 0);
    transform: skew(0.97deg);
  }
  60% {
    clip: rect(69px, 9999px, 10px, 0);
    transform: skew(0.42deg);
  }
  65% {
    clip: rect(90px, 9999px, 10px, 0);
    transform: skew(0.56deg);
  }
  70% {
    clip: rect(96px, 9999px, 13px, 0);
    transform: skew(0.59deg);
  }
  75% {
    clip: rect(65px, 9999px, 6px, 0);
    transform: skew(0.95deg);
  }
  80% {
    clip: rect(38px, 9999px, 54px, 0);
    transform: skew(0.38deg);
  }
  85% {
    clip: rect(71px, 9999px, 75px, 0);
    transform: skew(0.66deg);
  }
  90% {
    clip: rect(45px, 9999px, 6px, 0);
    transform: skew(0.6deg);
  }
  95% {
    clip: rect(7px, 9999px, 70px, 0);
    transform: skew(0.77deg);
  }
  100% {
    clip: rect(6px, 9999px, 90px, 0);
    transform: skew(0.57deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(73px, 9999px, 91px, 0);
    transform: skew(0.98deg);
  }
  5% {
    clip: rect(7px, 9999px, 69px, 0);
    transform: skew(0.87deg);
  }
  10% {
    clip: rect(72px, 9999px, 97px, 0);
    transform: skew(0.22deg);
  }
  15% {
    clip: rect(13px, 9999px, 76px, 0);
    transform: skew(0.71deg);
  }
  20% {
    clip: rect(12px, 9999px, 42px, 0);
    transform: skew(0.72deg);
  }
  25% {
    clip: rect(39px, 9999px, 71px, 0);
    transform: skew(0.03deg);
  }
  30% {
    clip: rect(58px, 9999px, 70px, 0);
    transform: skew(0.92deg);
  }
  35% {
    clip: rect(7px, 9999px, 26px, 0);
    transform: skew(0.51deg);
  }
  40% {
    clip: rect(62px, 9999px, 20px, 0);
    transform: skew(0.92deg);
  }
  45% {
    clip: rect(67px, 9999px, 99px, 0);
    transform: skew(0.98deg);
  }
  50% {
    clip: rect(49px, 9999px, 26px, 0);
    transform: skew(0.2deg);
  }
  55% {
    clip: rect(12px, 9999px, 5px, 0);
    transform: skew(0.29deg);
  }
  60% {
    clip: rect(95px, 9999px, 50px, 0);
    transform: skew(0.85deg);
  }
  65% {
    clip: rect(5px, 9999px, 43px, 0);
    transform: skew(0.5deg);
  }
  70% {
    clip: rect(58px, 9999px, 50px, 0);
    transform: skew(0.99deg);
  }
  75% {
    clip: rect(90px, 9999px, 79px, 0);
    transform: skew(0.54deg);
  }
  80% {
    clip: rect(34px, 9999px, 36px, 0);
    transform: skew(0.62deg);
  }
  85% {
    clip: rect(55px, 9999px, 6px, 0);
    transform: skew(0.43deg);
  }
  90% {
    clip: rect(28px, 9999px, 63px, 0);
    transform: skew(0.69deg);
  }
  95% {
    clip: rect(40px, 9999px, 100px, 0);
    transform: skew(0.88deg);
  }
  100% {
    clip: rect(35px, 9999px, 98px, 0);
    transform: skew(0.51deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(0deg);
  }
}

/* Buttons */
#nivelbutton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* botao da dificuldade*/
.skewBtn {
  width: 180px;
  height: 60px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 1rem;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
}
.skewBtn:hover {
  border: none;
  color: white;
  font-size: 1.2rem;
  transform: scale(1.1);
}

.blue {
  border: 2px solid #e56b6f;
  color: #e56b6f;
}
.blue:hover {
  background-color: #b56576;
  transition: all 0.3s ease-in-out;
}

/* botao do INICIAR JOGO */
#coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #e5989b;
  font-family: roboto;
  font-size: 18px;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  outline: none;
}
#coolBeans::after {
  background-color: #b5838d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
#coolBeans:hover::after {
  transform: translate(0, 0);
}
#coolBeans:hover {
  border: 2px solid transparent;
  color: #fff;
  transform: scale(1.05);
  will-change: transform;
}

/* Aqui começa visual do game*/
#dvQuemComeca {
  color: black;
  font: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
}

/* Original para baixo */

header {
  text-align: center;
  text-transform: uppercase;
}
section {
  background: #ffcdb2;
  border-radius: 10px;
  padding: 15px;
  /* width: 600px;
  margin: auto; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
}

div {
  text-align: center;
  padding: 8px;
}
#dvjogo {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcdb2;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
/* #dvQuemComeca {
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  font: normal 15pt Arial;
} */
.posJogo {
  width: 30%;
  height: 30%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* Linhas do jogo da velha */
#p1 {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
#p2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
#p3 {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
#p4 {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#p5 {
  border: 1px solid #000;
}
#p6 {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#p7 {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
#p8 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
#p9 {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

/* Opcional */
#imgtiazinha {
  width: 200px;
  height: 200px;
}

#quemganhou {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  /* styles for browsers larger than 960px; */

  .glitch {
    /* margin-top: 50px; */
    font-size: 4em;
  }
}

@media only screen and (max-device-width: 375px) {
  /* STYLES HERE for DEVICES with physical max-screen width of 480px */
  .glitch {
    margin-top: 120px;
    font-size: 1.9em;
  }

  #nivelbutton {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 575px) {
  /* styles for browsers larger than 960px; */

  .glitch {
    /* margin-top: 50px; */
    font-size: 2em;
  }
}
